.MissionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  background-color: transparent;
  width: 95%;
  margin: 3rem auto 0rem auto;
  border-bottom: 1px solid;
}

.MissionContainer > h1 {
  color: #02203c;
  font-weight: 400;
  font-size: 2.7rem;
  text-align: center;
  margin-top: 4rem;
}

.MissionContainer > p {
  color: #445d6e;
  font-size: 1.7rem;
  font-weight: 400;
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  padding: 2rem;
}

@media screen and (max-width: 960px) {
  .MissionContainer > h1 {
    font-size: 2.2rem;
  }
  .MissionContainer > p {
    font-size: 1.3rem;
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .MissionContainer > h1 {
    font-size: 2rem;
  }
  .MissionContainer > p {
    font-size: 1.2rem;
    width: 90%;
  }
}
