.TotalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 3rem auto 0rem auto;
  border-top: 1px solid;
  background-color: transparent;
}

.TotalContainer > h1 {
  color: #02203c;
  font-weight: 400;
  font-size: 2.7rem;
  margin: 4rem 4rem 0rem 4rem;
  text-align: center;
}

.CarouselOfReviewsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
  padding-bottom: 3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.Slider {
  margin: 3rem 0rem 3rem 0rem;
  width: 80%;
  margin: 3rem auto 0rem auto;
  border-top: 5px solid rgb(98, 110, 227);
  border-radius: 5px;
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 10px;
}

.InnerFlex {
  display: flex;
  flex-direction: row;
  margin: 5rem 3rem 0.7rem 3rem;
  align-items: flex-start;
  justify-self: center;
  justify-content: center;
  gap: 2rem;
}
.InnerFlexTwo {
  display: flex;
  flex-direction: row;
  margin: 5rem 3rem 0.7rem 3rem;
  align-items: center;
  justify-self: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1.5rem;
}

.Comas {
  width: 3rem;
  height: 3rem;
  border-radius: 0;
}
.UserInfo {
  color: #445d6e;
  font-weight: 300;
  font-size: 1.3rem;
}

.Quotes {
  font-weight: 400;
  color: #02203c;
  font-size: 1.7rem;
  width: 60%;
  margin-top: 1.5rem;
  text-align: center;
  font-style: italic;
}

.ProfileImage {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
@media screen and (max-width: 960px) {
  .Quotes {
    font-size: 1.2rem;
    width: 100%;
  }
  .ProfileImage {
    height: 4rem;
    width: 4rem;
  }

  .Comas {
    width: 2rem;
    height: 2rem;
  }

  .UserInfo {
    font-size: 0.9rem;
  }
  .TotalContainer > h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .Quotes {
    font-size: 1rem;
  }
  .TotalContainer > h1 {
    font-size: 1.8rem;
  }
}
